.green {

    position: absolute;
    height: 97px;
    left: 0px;
    top: 183px;
    position: center;
    width: 99.85%;
    
    background-repeat: no-repeat;
    
    background: url('../../images/green2.png');
  }